<ion-header [translucent]="true">
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button (click)="loginPage()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Password reset
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-input type="email" [(ngModel)]="email" placeholder="enter your email adress"></ion-input>
        </ion-item>

        <ion-button fill="solid" expand="block" color="danger" (click)="sendMail()">send mail</ion-button>

    </ion-list>
</ion-content>